$cover__card: url(~@/assets/home-class.png);
$cover__notice: url(~@/assets/home-notice.png);
$cover__course-header: url(~@/assets/course-header.png);
$sprite: url(~@/assets/sprite.png);

$logo__side: url(~@/assets/logo.svg);
$icon__emblem: url(~@/assets/logo1.png);
$icon__badge: url(~@/assets/logo2.png);

$color__active: #5e7ce0;

$tab__border: 1px solid #e3e5e9;

$sprite__popular: url(~@/assets/sprite__popular.jpg);
$sprite__cloud-course: url(~@/assets/sprite__cloud-course.png);
$sprite__role-series-course: url(~@/assets/sprite__role-series-course.png);
$sprite__popular-content: url(~@/assets/sprite__popular-content.png);
$sprite__micro-certification: url(~@/assets/sprite__micro-certification.png);
$sprite__online-experiment: url(~@/assets/sprite__online-experiment.png);
