$app: (
  color: (
    decoration: #bdbdbd,
    active: #f6f6f6,
  ),
  width: 800px,
  height: 550px,
  border: (
    radius: 5px,
  ),
  background: (
    color: #3c3c4c,
  ),
);

$app-controls: (
  height: 30px,
  task-input: (
    width: calc(#{map-get($app, width)} * 0.4),
  ),
  task-count: (
    color: #54bfdc,
  ),
  task-submit: (
    padding: 0 10px,
    color: #fff,
    background-color: #62d9f9,
  ),
);

$icon: (
  check: url(@/assets/icon-tick.svg),
  delete: url(@/assets/icon-delete.svg),
);
