@function get($list, $keys...) {
  @if $list == null {
    @return null;
  }

  $length: length($keys);
  $list: map-get($list, nth($keys, 1));

  @if $length > 1 {
    @for $key from 2 through $length {
      @if $list == null {
        @return null;
      }
      $list: map-get($list, nth($keys, $key));
    }

    @return $list;
  } @else {
    @return $list;
  }
}
