<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant</title>
</head>
<body>
  <div id="app">
    <div id="container">
      <div id="restaurant-info">
        <div id="restaurant-info_time">
          W<span id="time_week">1</span>D<span id="time_day">1</span>
        </div>
        <div id="restaurant-info_cost"></div>
      </div>
      <div id="restaurant-staff">
        <ul id="restaurant-staff_list">
          <li><span class="cook"></span></li>
          <li><span class="cook"></span></li>
          <li><span class="cook"></span></li>
          <li><span class="cook"></span></li>
          <li><span class="cook"></span></li>
          <li><span class="cook"></span></li>
        </ul>
      </div>
      <div id="restaurant-seat">
        <ul id="restaurant-seat_list">
          <li><span class="seat"></span></li>
          <li><span class="seat"></span></li>
          <li><span class="seat"></span></li>
          <li><span class="seat"></span></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>