$universal: (
  size: vw(128),
  border-color: #fff
);

$component: (
  slots: (
    border-width: vw(8),
    border-color: map-get($universal, border-color),
    border-radius: 50%,
  ),
  info: (
    border-width: vw(4),
    border-color: map-get($universal, border-color),
    border-radius: vw(2),
  )
);

.m-slots {
  height: map-get($universal, size);
  width: map-get($universal, size);

  border: get($component, slots, border-width) solid get($component, slots, border-color);
  border-radius: get($component, slots, border-radius);
}

.m-content {
  width: 100%;

  text-align: center;

  border: get($component, info, border-width) solid get($component, info, border-color);
  border-radius: get($component, info, border-radius);
}

.m-info {
  width: 60%;
  height: 60%;
  // background-color: red;
}

.i {
  $avatar: (
    cook: url('../images/cook.png'),
    customer-1: url('../images/customer-1.png'),
    customer-2: url('../images/customer-2.png'),
    customer-3: url('../images/customer-3.png'),
    customer-4: url('../images/customer-4.png'),
    customer-5: url('../images/customer-5.png'),
    customer-6: url('../images/customer-6.png'),
    customer-7: url('../images/customer-7.png'),
  );

  $icon: (
    heart: url('../images/icon_heart.png'),
    coin: url('../images/icon_coin.png'),
    serve: url('../images/icon_serve.png'),
  );

  display: inline-block;
  width: 100%;
  height: 100%;

  background-size: cover;

  &-avatar_cook {
    background-image: map-get($avatar, cook);
  }

  &-icon_serve {
    background-image: map-get($icon, serve);
  }
}
