$hue: 45;
$saturation: 100%;

$default: (
  border-width: vw(10),
  border-color: #fff,
  text-color: hsl($hue, $saturation, 27%),
  text-color_title: hsl($hue, $saturation, 15%),
  text-color--inverse: #fff,
);

$component: (
  bg-button: #cc9979,
  bg-timeout: #535362,
);

$container-bg: (
  app:  url('/src/assets/images/background.jpeg'),
);
