$base-width: 640;
$base-height: 960;

@function vw($px) {
  @return ($px / $base-width)  * 100vw;
}

@function vh($px) {
  @return ($px / $base-height) * 100vh;
}

@function getLinear($HSLArr) {
  $colorA: nth($list: $HSLArr, $n: 1);
  $colorB: nth($list: $HSLArr, $n: 2);

  @return linear(180deg, $colorA 50%, $colorB 50%);
}

@function get($list, $keys...) {
  @if $list == null {
    @return null;
  }

  $length: length($keys);
  $list: map-get($map: $list, $key: nth($keys, 1));

  @if $length > 1 {
    @for $i from 2 through $length {
      @if $list == null {
        @return null;
      }
      $list: map-get($map: $list, $key: nth($keys, $i));
    }

    @return $list;
  }

  @else {
    @return $list;
  }
}
