#app {
  height: 94vh;

  background: map-get($map: $container-bg, $key: app);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  &__kitchenette {
    --container-background: #{get($background, kitchenette)};
  }

  &__dining-area {
    --container-background: #{get($background, dining-area)};
  }
}