$hue: 45;
$saturation: 100%;

$default: (
  border-width: vw(10),
  border-color: #fff,
  text-color: hsl($hue, $saturation, 27%),
  text-color_title: hsl($hue, $saturation, 15%),
  text-color_inverse: #fff,
);

$map-hue: (
  1: hue(#aaa),
  2: hue(#2693ff),
  3: hue(#ff2626),
  4: hue(#ff9122),
  5: hue(#ac91ff),
  6: hue(#661a00),
  7: hue(#80ff00),
  info: hue(#ffe699),
);

$bg-color__linear: (
  1: (hsl(map-get($map-hue, 1), 0%, 67%), hsl(map-get($map-hue, 1), 0%, 87%)),
  2: (hsl(map-get($map-hue, 2), 100%, 57%), hsl(map-get($map-hue, 2), 100%, 43%)),
  3: (hsl(map-get($map-hue, 3), 100%, 57%), hsl(map-get($map-hue, 3), 100%, 35%)),
  4: (hsl(map-get($map-hue, 4), 100%, 57%), hsl(map-get($map-hue, 4), 100%, 43%)),
  5: (hsl(map-get($map-hue, 5), 100%, 78%), hsl(map-get($map-hue, 5), 100%, 65%)),
  6: (hsl(map-get($map-hue, 6), 100%, 20%), hsl(map-get($map-hue, 6), 100%, 13%)),
  7: (hsl(map-get($map-hue, 7), 100%, 50%), hsl(map-get($map-hue, 7), 100%, 35%)),
);

// $component: (
//   size: vw(128),
//   border-width: vw(8),
//   border-radius: vw(30),
//   info-border: vw(2),
//   bg-button: #cc9979,
//   bg-timeout: #535362,
// );

$container-bg: (
  staff: #ffd24d,
  seat: #ffa64d,
  notice_warn: #ffb399,
  notice_finish: #d9e67d,
  info: linear-gradient(to bottom, hsl(map-get($map-hue, info), 100%, 80%) 46%, hsl(map-get($map-hue, info), 100%, 65%) 54%),
  app:  url('/src/assets/images/background.jpeg'),
);
