#restaurant-info {
  $base-color: #8b6900;

  $component_height: 70px;
  $component_border-width: 10px;
  $component_border-color: $base-color;
  $component_background: linear-gradient(
    180deg,
    #ffe699 0%,
    #ffe699 45%,
    #ffd24d 45%,
    #ffd24d 100%
  );

  grid-area: info;
  display: flex;
  justify-content: space-between;

  height: vh($component_height);
  // margin-bottom: vh(20px);

  color: $base-color;

  #restaurant-info_time,
  #restaurant-info_cost {
    border: $component_border-width solid $component_border-color;
    border-radius: vh($component_height / 2);

    line-height: vh($component_height - $component_border-width * 2);
    text-align: center;

    background: $component_background;
  }

  #restaurant-info_time {
    width: vw(210px);
  }

  #restaurant-info_cost {
    width: vw(310px);
    padding-right: vw($component_border-width * 2);

    text-align: right;
  }
}
