<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant</title>
</head>
<body>
  <div id="app">
    <div id="container">
      <%= require('html-loader!./template/info.html') %>
      <%= require('html-loader!./template/staff.html') %>
      <%= require('html-loader!./template/seat.html') %>
    </div>
    <div id="notice">
      <%= require('html-loader!./template/welcome.html') %>
    </div>
  </div>
</body>
</html>